body{
	background-color:  #22519F;
	font-family: Abel, Smooth Circulars, Bebas Neue, sans-serif;
<div class="headergrid">
				<div id="logo"><img src="media/koibotslogo.png" alt="KoiBots logo and name"></div>
				<div id="blank"></div>
				<div id="home"><img src="media/homebutton.png" alt="Home Button"></div>
				<div id="calendar"><img src="media/calendar.png" alt="Calendar Page"></div>
				<div id="competition"><img src="media/comp.png" alt="Competitions Page"></div>
				<div id="supportus"><img src="media/support.png" alt="Donation+fundraiser page"></div>
			</div>
} 

head{
	.headergrid{
		display:grid;
		grid:
	'logo blank home calendar competition supportus' 40px
/100px 300px 100px 100px 100px 100px;
grid-area:head;
}
#logo img{
	grid-area:head;
	object-fit:cover;
width:110px;
height:40px;
}
#home img{
	grid-area:head;
	object-fit:cover;
height:40px;

}
#calendar img{
	grid-area:head;
	object-fit:cover;
	height:40px;
}
#competition img{
	grid-area:head;
	object-fit:cover;
	height:40px;
}
#supportus img{
	grid-area:head;
	object-fit:cover;
	height:40px;
	align:right;
}

